# dev override, use docker-compose.yml as base
# docker compose -f docker-compose.yml -f docker-compose.dev.yml up --build

services:
    frontend:
        build:
            context: ./frontend
            dockerfile: Dockerfile.dev
            args:
              - DATABASE_URL=${DATABASE_URL:?error}
        develop:
            watch:
                - action: sync
                  path: ./frontend
                  target: /app_env
                - action: rebuild
                  path: ./frontend/package.json
        ports:
            - "${NUXT_PORT:-3000}:3000"

    backend:
        build:
            context: ./backend
            dockerfile: Dockerfile.dev
        develop:
            watch:
                - action: sync
                  path: ./backend
                  target: /app_env
                - action: rebuild
                  path: ./backend/Cargo.toml
        ports:
            - "${RUST_PORT:-8080}:8080"
    db:
        restart: no
        ports:
            - "5433:5432"
